Source: wingpanel-indicator-sysmon
Maintainer: Fernando Casas Schössow <casasfernando@outlook.com>
Section: x11
Priority: optional
Build-Depends: debhelper (>= 11),
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgranite-dev,
               libgtop2-dev,
               libgtk-3-dev (>= 3.12),
               libhandy-1-dev,
               libwingpanel-dev,
               meson,
               valac (>= 0.40)
Standards-Version: 4.1.4
Homepage: https://github.com/casasfernando/wingpanel-indicator-sysmon

Package: wingpanel-indicator-sysmon
Architecture: any
Depends: ${misc:Pre-Depends},${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: Wingpanel system monitor indicator
 System monitor indicator for wingpanel
