.small-label {
    font-size: 10px;
    padding: 0px;
}

.upload-read-download-write {
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title-label {
    font-size: 8px;
    padding: 0px;
}

.label-usage {
    font-size: 12px;
    padding: 0px;
}

.high {
    color: #b00000;
}
.medium {
    color: #cea100;
}
.normal {
    color: #FFFFFF;
}

.blue {
    color: #0f23d1;
}